@model VIMS.DataModel.TrafficPolice

@{
    ViewData["Title"] = "Update Traffic Police Data";
    Layout = "_AdminLayout";
}
<style>
    .container {
        margin: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }
</style>
<div class="container">


    <h1>Update</h1>

    <h4>Traffic Police</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="TpoliceEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Tid" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Policeid" class="control-label"></label>
                    <input asp-for="Policeid" class="form-control" />
                    <span asp-validation-for="Policeid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Designation" class="control-label"></label>
                    <input asp-for="Designation" class="form-control" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Range" class="control-label"></label>
                    <input asp-for="Range" class="form-control" />
                    <span asp-validation-for="Range" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="TpoliceList" class="text-decoration-none">Back to List</a>
        | <a asp-action="AdminDashboard"> <i class='fa fa-home' style="font-size:20px;color:black"></i></a>
    </div>
</div>